body{
    font-family: 'Poppins', sans-serif;

}


nav{
    display: flex;
    padding: 2%,6%;
    justify-content: space-between;
    align-items: center;
  }
  
    
  }
  .nav-links{
    flex: 1;
    text-align: right;
  }
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  .nav-links ul li a{
    color: rgb(53, 31, 31);
    text-decoration: none;
    font-size: 13px;
  }
  .nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
   
  }
  .nav-links ul li:hover::after{
    
    width: 100%;
  }


h1{
    font-size: 35px;
    margin-left: 6px;
    line-height: 15px;

}
.adjust{
     height: 67px;
    margin-top: 60px;
    
}
.yellowcolor{
    color: orange;
}
.container{
    max-width: 1100px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}
.pech{
    margin-top: 20px;
}
.half{
    width: 60%;
    padding-left: 6%;
}
.half img{
    width: 60%;

}
.pic{
padding-top: 10px;
}
.explore{
    text-decoration: none;
background-image: linear-gradient(orange ,red);
color: white;
font-size: small;
   padding: 5px 48px;
   border-radius: 15PX;
}
.document{
    text-decoration: none;
background-image: linear-gradient(orange ,red);
color: white;
font-size: small;
   padding: 5px 48px;
   border-radius: 5PX;
}
.brands {
    margin: 100px auto;
  }
  .row{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .col-5{
    
    width: 160px;
    cursor: pointer;
    filter: grayscale(100%)
  }
  .col-5 img{
    width: 100%;
    
  }
  
  .col-5:hover{
    filter: grayscale(0);
  }



  .small-container{
    max-width: 900px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
  }
  .col-4{
    flex-basis: 33%;
    padding: 10px;
    margin: 35px; 
    max-width: 350px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    border-radius: 8px;
  }
  .col-4 img{
    width: 100%;
  }
  .title{
    text-align: center;
    position: relative;
    margin: 0 auto 80px;
    color: #555;
    line-height: 60px;
  }
  .title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
  }
  h4{
    color: #555;
    font-weight: normal;
    
  }
  .rating .fa{
    color: #ff523b;
  }
  .col-4 p{
    font-size: 14px;
  }
  .col-4:hover{
    transform: translateY(-7px);
    
  }


.see{
float: right;
color: crimson;
font-size: 20px;
font-weight: 700;
}






  .offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
  }
  .col-2 .offer-img{
    padding: 50px;
  }
  small{
    color: #777;
    font-size: 16px;
   
  }
  .btn{
      display: inline-block;
      background: #ff523b;
      margin: 30px 0;
      padding: 8px 30px;
      border-radius: 30px;
      transition: background 0.5s;
      color: #fff;
      text-decoration: none;
  }


  footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer h1{
    padding-top: 30px;
}
footer h1 #red {
    color: red;
    font-size: 40px;
    
}





  .testimonial{
    padding-top: 100px;
  }
  .testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    transition: transform 0.5s;
  }
  .testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    
  }
  .testimonial .col-3:hover{
    transform: translateY(-10px);
  }
  .fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
    
  }
  
  .col-3 p{
    font-size: 12px;
    color: #777;
    margin: 12px 0;
  }
  .col-3 h3{
    font-weight: 600;
    font-size: 16px;
    color: #555;
  }
  .icons .fa{
    margin: 0 10px;
    padding: 18px 0;
    color: #f44336;
    cursor: pointer;
  }
.copy {

    color: seashell ;
}
h2{
    margin-top: 20px;
    padding-top: 20px;
}
.right{
    padding-top: 0;
}